 header {
    height: 100vh;
    padding-top: 20rem;
    /* overflow: hidden; */
}


.header_container{
    text-align: center;
    height: 100%;
    position: relative;
    
}

.btnnn {
    border: 1px solid;
    border-bottom-width: 4px;
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 2px;
    
    padding: 1em 2em;
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    cursor: pointer;
}

.btnnn:hover {
    color: rgb(0, 0, 0);
}


.btn-1 {
    border-color: #c9bfbf;
    font-size: large;
}
  
.btn-1:hover {
    border-color: #000000;
    animation: halftone 1s forwards;
    background: radial-gradient(circle, #adff2f 0.2em, transparent 0.25em) 0 0 / 1.25em 1.25em
              , radial-gradient(circle, #adff2f 0.2em, transparent 0.25em) 6.25em 6.25em / 1.25em 1.25em;
    color: adjust-hue(#adff2f,180);
}
@keyframes halftone {
    100% {
      background-size: 2.375em 2.375em, 0.1em 0.1em;
    }
  }

  
.tm-hero-text-container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  
  .tm-hero-text-container-inner {
    margin-top: -90px;
    color: #3496d8;
    text-align: center;
  }

.sg {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    color: rgb(255, 255, 255);
    display: inline-block;
    outline: 0px solid;
    outline-color: rgba(71, 126, 232,0.5);
    outline-offset: 70px;
    transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}

.sg:hover {
    font-size: 5rem;
    /* color: greenyellow; */
    color:greenyellow;
}




/*===========CTA=================*/


.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}


/*===========CTA=================*/

.header_socials {   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
    
}

.header_socials::after{
    content: '';
    width: 1px;
    height: 8rem;
    background: var(--color-primary);
    
}

.header_scroll {   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    right: 0;
    bottom: 10rem;
}



.header_scroll::after{
    content: '';
    width: 1px;
    height: 8rem;
    background: var(--color-primary);
}

/*===========ME=================*/

/* .me{
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 20rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5rem;
    border-radius: 12rem 12rem 0 0;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

 */
/*===========Scroll Down=================*/

.scroll__down {
    position: absolute;
    right: -2.7rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}


.button {
    margin: 1em;
    margin-bottom: 2rem;

    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    cursor: pointer;
    transition: var(--transition);
}
  
/*===========OING=================*/
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid greenyellow;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 2s infinite;
  }
  
  
  @keyframes ring {
    0% {
      width: 0px;
      height: 0px;
      opacity: 0.9;
    }
    100% {
      width: 380px;
      height: 380px;
      opacity: 0;
    }
  }

/** Cubes here **/
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}









/*===============Media Queries=========*/

@media screen and (max-width: 1024px) {
    header{
        height: 68vh;
    }
}

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header_socials,
    .scroll__down {
        display: none;
    }

    .sg {
        font-size: 2rem;
        
        color:greenyellow;
        display: inline-block;
    }

   
}